.chat-room {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
}

em-emoji-picker {
  width: 100%;
  height: 320px;
  user-select: none;
}
