@import './tailwindcss.css';
@import './root.scss';

[data-theme] * {
  // transition-property: all;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // transition-duration: 300ms;
  letter-spacing: 1px;
  outline: none !important;
  svg path {
    fill: inherit;
  }
}

[data-theme='dark'] {
  background-color: black;

  .text-primary {
    color: color-mix(in oklch, oklch(var(--p) / 1), white 10%);
  }
}

[data-theme='light'] {
  background-color: white;
}
