@import './tailwindcss.css';
@import './root.scss';

@font-face {
  font-family: 'Helvetica-Neue'; /* 自定义字体名称 */
  src: url('./Helvetica-Neue.ttf');
}

body {
  font-family: 'Helvetica-Neue';
}

[data-theme] * {
  transition: all 0.3s;
  letter-spacing: 1px;
  outline: none !important;
  svg path {
    fill: inherit;
  }
}

[data-theme='dark'] {
  background-color: black;
}

[data-theme='light'] {
  background-color: white;
}
